#heading
{
text-align: center;
background-color: chocolate;
}
.head
{
text-align: center;
font-size: 25px;
background-color: rgb(222, 227, 227);
}
.head1
{
text-align: center;
font-size: 25px;
background-color: rgb(93, 0, 255);
}
#form
{
  text-align: center;
}
